<html ng-app="app">
  <head>
    <title>Movie Query Project</title>
    <script src="js/angular.js"></script>
    <style>
    form {
      background: #f9f9f9;
      border-radius: 3px;
      border: 1px solid #e5e5e5;
      padding: 10px;
    }
    </style>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div ng-controller="MoviesController as movies">
      <form ng-submit="movies.getMovies(movies.searchYear);">
        <p>
          Search by Year
        </p>
        <input
          type="text"
          placeholder="Year"
          ng-model="movies.searchYear"
          ng-change="console.log(movies.searchYear);">
        <button type="submit">
          Search
        </button>
      </form>
      <ul>
        <li ng-repeat="movie in movies.favorites" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ movie.title }}</h3>
          </div>
          <div class="panel-body">
            <p><strong>Release Date:</strong> {{ movie.release_date }}<span class="pull-right"><strong>Popularity rating:</strong> {{ movie.popularity }}</span></p>
            <p>{{ movie.overview }}</p>
          </div>
        </li>
      </ul>
      <!--<pre>
        {{ movies.favorites | json }}
      </pre>-->
    </div>

    <script src="js/app.js"></script>
    <script src="js/MoviesController.js"></script>
    <script src="js/movies.service.js"></script>
  </body>
</html>
