li {
    position:relative;
    list-style-type:none;
}

li span {
    display:block;
}

li span.pull-right {
    display:inline-block;
    position:absolute;
    top:15;
    right:15;
}

li .panel-body {
    position:relative;
}

ul.list {
    padding:0;
}

ul.list li {
    padding-bottom:8px;
}